@media screen and (max-width: 600px){
 
    body, html{
        min-height: 100%;
        background-color: rgb(72, 160, 211);

    }
    
    .contenedor{
        width: 90%;
        margin: auto;
    }
    
    .juego{
        position: fixed;
        bottom: 10%;
        left: 10%;
        right: 10%;
    }
    
    .fila{
        display: flex;
        justify-content: center;
    }
    
    .fila div{
        border: 3px solid black;
        padding: 50px;
        background-color: white;
    }
    
    .X{
        background-image: url("/img/X.png");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }
    
    .O{
        background-image: url("/img/O.png");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }
    
    .infoJuego{
        position: fixed;
        top: 4%;
        left: 10%;
        right: 10%;
    }
    
    .infoJuego h2{
        font-size: 30px;
    }
    
    .infoJuego .jugadorX{
        color: red;
    }
    
    .infoJuego .jugadorO{
        color: blue;
    }
    
    .Ganador{
        width: 300px;
        margin-top: 15px;
    }
    
    .reiniciar{
        padding: 5px;
        margin-top: 15px;
        font-size: 20px;
        background-color: brown;
        font-weight: 700;
        color: white;
        border-radius: 13px;
        border: 2px solid #510f0f;
    }
    
}